<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LavaMovil/Verificacion.com</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/index" class="logo">LavaMovil</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/productos">Destacados</a></li>
          <li><a href="/contacto">Administrar</a></li>
          <li>Lava a tu ritmo, en cualquier lugar</li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container-contacto">
    <form action="#" id="form" method="POST">
      <h2>Opciones disponibles</h2>
      <br>
      <div class="ver-todo"><a class="button" href="/listado">Listado de productos</a></div>
      <div class="ver-todo"><a class="button" href="/agregar-producto">Agregar producto</a></div>
      <div class="ver-todo"><a class="button" href="/listado-categorias">Listado de categorias</a></div>
      <div class="ver-todo"><a class="button" href="/agregar-categoria">Agregar categorias</a></div>
    </form>
    </div>


    <footer class="footer-section">
      <div class="copyright-area">
          <div class="container-footer">
              <div class="row-footer">
                  <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2023, todos los derechos reservados <a href="/index">LavaMovil</a></p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                      <div class="footer-menu">
                          <ul>
                              <li><a href="/nosotros">Nosotros</a></li>
                              <li><a href="/productos">Destacados</a></li>
                              <li><a href="/contacto">Administrar</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>  

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script  src="assets/js/scripts.js"></script>
    <script  src="assets/js/contacto.js"></script>
</body>
</html>