<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Administrar</title>

</head>


<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 link-secondary">LavaMovil</li>
          </ul>
    
          <div class="col-md-3 text-end">
            <a href="/view" class="btn btn-primary">Salir al inicio</a>
          </div>
        </header>

<h1>  </h1>
<main class="container" >
<div class="bg-body-tertiary p-5 rounded">
  <p class="lead">Lista de productos</p>
  <a class="btn btn-lg btn-primary" href="/index" role="button">Tabla de Productos &raquo;</a>
</div>
</main>
<h1>      </h1>
<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <p class="lead">Lista de categorías</p>
      <a class="btn btn-lg btn-primary" href="/tabcategory" role="button">Tabla de Categorías &raquo;</a>
    </div>
    </main>
    <h1>      </h1>
<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <p class="lead">Lista de imágenes</p>
      <a class="btn btn-lg btn-primary" href="/tabimagen" role="button">Tabla de imagenes &raquo;</a>
    </div>
    </main>
    <h1>      </h1>
    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
          <p class="lead">Lista de clientes</p>
          <a class="btn btn-lg btn-primary" href="/tabclient" role="button">Tabla de clientes &raquo;</a>
        </div>
        </main>
        <h1>      </h1>
<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <p class="lead">Lista de compras</p>
      <a class="btn btn-lg btn-primary" href="/tabcompra" role="button">Tabla de compras &raquo;</a>
    </div>
    </main>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>