<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/stylesheets/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/edit_producto/" method="post">
  <header>
    <div class="container-hero">
      <div class="container hero">
        <div class="customer-support">
          <i class="fa-solid fa-headset"></i>
          <div class="content-customer-support">
            <span class="text">Soporte al cliente</span>
            <span class="number">0414-2204369</span>
          </div>
        </div>

        <div class="container-logo">
          
          <h1 class="logo"><a href="/">SENIFA GUARICO</a></h1>
        </div>

       <div>
        <img src="../images/F8j0ABxWwAAHwb9-removebg-preview.png" alt="200" width="100">
       </div>
      </div>
    </div>

    <div class="container-navbar">
      <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/mision">Mision</a></li>
          <li><a href="/vision">Vision</a></li>
          <li><a href="/proyecciones">Proyecciones</a></li>
          <li><a href="/login">Administracion</a></li>
          <li><a href="/logros">Logros</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>

        
      </nav>
    </div>
  </header>

  <section class="banner_m">
    <div class="content-banner_m">
      <h2>BLOG</h2>
      <div class="container-index">

        
    
    </div>
  </section>

 

  <footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>
              Dirección: Plaza Bolivar al lado del auditorio del "Brazil"
            </li>
            <li>Teléfono 1: 0414-2204369</li>
            <li>Teléfono 2: 0412-1134738</li>
            <li>EmaiL: senifa@gmail.com</li>
          </ul>
          <div class="social-icons">
            <span class="facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </span>
            <span class="twitter">
              <i class="fa-brands fa-twitter"></i>
            </span>
            <span class="youtube">
              <i class="fa-brands fa-youtube"></i>
            </span>
            <span class="pinterest">
              <i class="fa-brands fa-pinterest-p"></i>
            </span>
            <span class="instagram">
              <i class="fa-brands fa-instagram"></i>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Adicional</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        

        <div class="newsletter">
          <p class="title-footer"></p>

          <div class="content">
            <p>
             
            </p>
            
           
          </div>
        </div>
      </div>

      <div class="copyright">
        <p>
          Desarrollado por Prestadores de Servicio Comunitario de la UNERG &copy; 2024
        </p>

       
      </div>
    </div>
  </footer>

  <script
    src="https://kit.fontawesome.com/81581fb069.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>