<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/view" class="logo">LavaMovil</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/destacados">Destacados</a></li>
            <li><a href="/login">Administrar</a></li>
            <li>Lava a tu ritmo, en cualquier lugar</li>
          </ul>
        </nav>
      </div>
    </header>


<main>

        <div class="modal" id="modal">
          <div class="modal-content">
            <img src="" alt="" class="modal-img" id="modal-img">
          </div>
          <div class="modal-boton" id="modal-boton">X</div>
        </div>

        <div class="container-productos" id="lista-productos">

          <div class="card">
            <img src="https://falabella.scene7.com/is/image/FalabellaPE/121630274_1?wid=800&hei=800&qlt=70" class="card-img">
            <h5>Lavadora plegable rosada</h5>
            <p>Remington HG7</p>
            <p>USD.<small class="precio">47,99</small></p>
            
          </div> 
          <div class="card">
            <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120795060_2804158_1?wid=800&hei=800&qlt=70" class="card-img">
            <h5>Lavadora de puerta superior blanca</h5>
            <p>Supernova FRD</p>
            <p>USD.<small class="precio">54,99</small></p>
            
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHMPXvUFRtDRLTNhkxZaditn-yIUSPTNpR_Y7B1xR7IPqV3VpBbhdWpHu9h4XWHFENETE&usqp=CAU" class="card-img">
            <h5>Lavadora con laterales transparentes</h5>
            <p>Skinex 340</p>
            <p>USD.<small class="precio">49,99</small></p>
            
          </div>

          <div class="card">
            <img src="https://ae01.alicdn.com/kf/Seb47652a8c9e436598dbaf46e88f0b34W/Lavadora-autom-tica-para-beb-s-lavadora-peque-a-para-el-hogar-fabricantes-de-ropa-interior.jpg" class="card-img">
            <h5>Lavadora compacta azul</h5>
            <p>American Electric G6</p>
            <p>USD.<small class="precio">59,99</small></p>
            
          </div>
          <div class="card">
            <img src="https://m.media-amazon.com/images/I/51a70DDWn8L.jpg" class="card-img">
            <h5>Lavadora portatil automatica</h5>
            <p>Kavarov TY8</p>
            <p>USD.<small class="precio">65,99</small></p>
            
          </div>
          <div class="card">
            <img src="https://ecomarketshopping.com/wp-content/uploads/2023/09/Mini-Lavadora-Portatil-Mini-Lavadoras-Portatiles-3.webp" class="card-img">
            <h5>Lavadora con tapa moderna</h5>
            <p>Icresa 540</p>
            <p>USD.<small class="precio">68,99</small></p>
            
          </div>

          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXDNCJA_PE4AyVw7_kXbpUavNiyhCY7but1A&usqp=CAU" class="card-img">
            <h5>Lavadora de alta potencia</h5>
            <p>Kalashnikov 47</p>
            <p>USD.<small class="precio">29,99</small></p>
            
          </div>
          <div class="card">
            <img src="https://hips.hearstapps.com/hmg-prod/images/lavadora-hoover-40-cm-1651663256.jpg" class="card-img">
            <h5>Lavadora de doble entrada</h5>
            <p>Secktass 8000</p>
            <p>USD.<small class="precio">90,99</small></p>
            
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHDY7W_nngFB9cb1hBObdc2od4isnM9hPBEA&usqp=CAU" class="card-img">
            <h5>Lavadora negra compacta</h5>
            <p>Nigger BLK</p>
            <p>USD.<small class="precio">45,99</small></p>
            
          </div>
        </div>
</main>
  

<footer class="footer-section">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">LavaMovil</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="/nosotros">Nosotros</a></li>
                          <li><a href="/destacados">Destacados</a></li>
                          <li><a href="/login">Administrar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
    <script src="assets/js/carrito.js"></script>
    <script src="assets/js/pedido.js"></script>
    <script src="assets/js/compra.js"></script>
</body>
</html>