<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <form action="/insert" method="post">
        <label for="code">Código</label>
        <input type="number" name="code" value="" placeholder="Código del producto" required>
        <label for="name">Nombre del Producto</label>
        <input type="text" name="name" value="" placeholder="Nombre del Producto" required>
        <label for="brand">Potencia</label>
        <input type="number" name="power" value="" placeholder="Potencia del Producto" required>
        <label for="model">Modelo</label>
        <input type="text" name="model" value="" placeholder="Modelo del Producto" required>
        <label for="description">Descripción</label>
        <textarea type="text" name="description" value="" placeholder="Descripción del producto" required></textarea>
        <label for="price">Precio</label>
        <input type="text" name="price" value="" placeholder="Precio del Producto" required>
        <label for="category_id">Categoría</label>
        <select id="categoria" name="category_id" required>
            <% category.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
        <input type="submit" value="Insertar" href="/index">
    
    </form> 
    
</body>
</html>