<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/view" class="logo">LavaMovil</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          <li><a href="/login">Administrar</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/destacados">Productos</a></li>
            <li>Lava a tu ritmo, en cualquier lugar</li>
        </ul>
      </nav>
    </div>
  </header>

<main>
<div class="container">
    <div class="columna1">
      <h2>Nosotros</h2>
      <p>
        <p>LavaMovil es una tienda virtual, aquí te vas a encontrar muchísima variedad de lavadoras portatiles.  
        </p><br>
        <p>Hemos tenido siempre como prioridad ofrecer productos de alta calidad para nuestros clientes, a precios accesibles y acompañado por un servicio al cliente de primera. </p><br>
        <p>La creación de una comunidad de clientes leales ha ayudado a LavaMovil a crecer y convertirse en la empresa que somos ahora. No solo somos una tienda virtual, nuestra empresa y todo nuestro equipo nos preocupamos y apoyamos a asociaciones.</p><br>
      </p>
    </div>
    <div class="columna2">
      <img src="https://imagenes.marie-claire.es/files/vertical_composte_image/uploads/2023/08/25/64e8e97b49367.jpeg">
    </div>
</div>
</main>

<footer class="footer-section">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">LavaMovil</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                        <li><a href="/login">Administrar</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/sesion"> Iniciar sesion</a></li>
                        <li><a href="/client">Registrarse</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>