<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LavaMovil</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">LavaMovil</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/login">Administrar</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/destacados">Productos</a></li>
            <li>Lava a tu ritmo, en cualquier lugar</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://minilavadoras.net/wp-content/uploads/2023/01/minilavadoras-portatiles-1024x397.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://minilavadoras.net/wp-content/uploads/2023/01/Lavadora-portati-plegable-390x200.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://www.motor16.com/wp-content/webpc-passthru.php?src=https://www.motor16.com/wp-content/uploads/2023/07/La-lavadora-portatil-ideal-para-camping-viajes-y-demas-la-encontraras-en-Amazon.jpg&nocache=1" alt="2" width="300" height="300"></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://storage.googleapis.com/catalog-pictures-carrefour-es/catalog/pictures/hd_510x_/8712757442546_1.jpg" class="circulo">
        <h2>Carga clasicas</h2>
      </div>
      <div class="container-imagen">
        <img src="https://ae01.alicdn.com/kf/Scc0fb141474c4272ab5422dc84df77318.jpg_640x640Q90.jpg_.webp" class="circulo">
        <h2>Modernas</h2>
      </div>
      <div class="container-imagen">
        <img src="https://falabella.scene7.com/is/image/Falabella/gsc_123412597_3680322_1?wid=1500&hei=1500&qlt=70" class="circulo">
        <h2>Plegables</h2>
      </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE LavaMovil </h2>
        <p>En LavaMovil puedes encontrar una amplia variedad de lavadoras compactas y fáciles de transportar. Estas lavadoras son ideales para aquellos que viven en espacios pequeños o que necesitan lavar ropa mientras están de viaje. Ofrecen conveniencia y funcionalidad, permitiéndote lavar tu ropa de manera eficiente sin ocupar mucho espacio.</p>
      </div>
      <div class="columna2">
        <img src="https://http2.mlstatic.com/D_NQ_NP_951686-MCO46604389004_072021-O.webp" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">LavaMovil</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                          <li><a href="/login">Administrar</a></li>
                          <li><a href="/nosotros">Nosotros</a></li>
                          <li><a href="/sesion"> Iniciar sesion</a></li>
                          <li><a href="/client">Registrarse</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>